{{extend defaultLayout}}
{{block 'css'}}
<link rel="stylesheet" type="text/css" href="{{_res_path}}/img/index.css"/>
{{/block}}

{{block 'main'}}

<div class="info_box">
  <div class="head-box type{{bgType}}">
    <div class="title">星点图片列表</div> 
  </div>
</div>

<div class="img-box">
  <div class="img-table">
    {{each imginfo imgItem imgKey}}
      {{if imgKey % 3 === 0}}
      <div class="tr"> 
      {{/if}}
        <div class="td">
          <strong class="img-title">随机{{imgItem.name}}</strong>
        </div>
      {{if imgKey % 3 === 2 || imgKey === imginfo.length - 1}}
      </div> 
      {{/if}}
    {{/each}}
  </div>
</div>

{{/block}}
