body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url("./imgs/bg-02.png") no-repeat center center fixed;
}

.container {
  width: 100%;
  max-width: 1000px;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.title {
  color: rgb(241, 239, 236);
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  margin: 0 auto;
  padding: 20px 0;
  width: 100%;
}

.img-box {
  width: 80%;
  margin: 0 auto;
  padding: 20px 0;
}

.img-item-container {
  display: flex;
  align-items: center;
  margin: 10px 0;
  padding: 20px;
  border-radius: 15px;
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding-left: 20px;
  padding-right: 20px;
}

.img-rank {
  width: 50px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  flex-shrink: 0;
  color: rgb(71, 85, 142);
  margin-right: 10px;
}
.img-item {
  flex-grow: 1;
  text-align: center;
}
.img-title {
  font-size: 18px;
  font-weight: bold;
  color: rgb(105, 130, 185);
  margin-bottom: 5px;
}

.img-num {
  font-size: 16px;
  color: rgb(188, 202, 224);
}
